{% include "include/wrapper-top.html" %}

<div class="row">
    <div class= "span4 offset4">
        <img src="{{ STATIC_URL }}images/logo.png">
    </div>
</div>

<div class="row">
    <div class="span7 offset2">
        <div class="progress progress-striped active">
            <div class="bar" style="width: {{ totalPercentage }}%;"></div>
        </div>
    </div>
        <strong> {{ totalPercentage|floatformat:1 }}%</strong>
</div>

<div class="row">
    <div class="span8 offset2">
        <h3> We have made it this far, will you get us to the<em> end?</em></h3>
    </div>
</div>

<div class="row">
    <div class="span6 offset5">
            <a class="btn btn-large btn-info" href="/donations">Donate</a>
    </div>
</div>

{% include "include/wrapper-bottom.html"%}