{% include "include/wrapper-top.html" %}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Welcome to Know Hope <small>the donation project</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class= "span4 offset4">
        <img src="{{ STATIC_URL }}images/logo.png">
    </div>
</div>

<div class="row">
    <div class="span7 offset2">
        <div class="progress progress-striped active">
            <div class="bar" style="width: {{ totalPercentage }}%;"></div>
        </div>
    </div>
        <strong> {{ totalPercentage|floatformat:1 }}%</strong>
</div>

<div class="row">
    <div class="span8 offset2">
        <h3> We have made it this far, will you get us to the<em> end?</em></h3>
    </div>
</div>

<div class="row">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="SZW9UPPB68KUE">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>

{% include "include/wrapper-bottom.html"%}