<!DOCTYPE html>
<html lang="en">
    {% include "include/wrapper-head.html" %}
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <div class="page-header">
                                <h1>Welcome to Know Hope <small>the donation project</small>
                                <div class="btn-group">
                                    <a href="/" class="btn btn-small">Home</a>
                                    <a href="/donations" class="btn btn-small">Donate</a>
                                    <a href="/donatees" class="btn btn-small">Donatees</a>
                                </div>
                                 </h1>
                            </div>
                        </div>
                    </div>
